header {

	@include grid-row;

	.logo {
		background-color: #e2e2e2;
		text-align: center;
	}

	nav {
		text-align: center;
		background-color: #e2e2e2;
			.main-nav  {
				@include menu-simple;
			}
	}
	
}
