---
---
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About</title>
      <link rel="stylesheet" href="css/app.css">
   </head>
   <body>
      {% include header.html %}
      <div class="heading-banner heading-banner-about">
         <div class="content">
            <h1>About</h1>
         </div>
      </div>        
      <div class="container">
         <div class="leftcol"><img src="http://placehold.it/600?text=Image+Goes+Here"></div>
         <div class="rightcol">
            <p>Drawing inspiration from London Open House and Heritage Open days, Manchester Curious is an independently run, not-for-profit event. The aim of Manchester Curious is to open the doors of some of Manchester’s finest buildings and hidden spaces to discover the secrets and innovations behind them, and also to give the opportunity to uncover the history, developments and context of Manchester through the ages with guided walking tours.</p>
            <p>The 2016 Festival will run from Thursday 6 October to Sunday 9th October and will feature a series of guided tours and walks. These are designed to appeal to a wider audience, with the idea of making the concept of architecture accessible to all. We are currently working on the line up for 2016 but please see our 2015 programme for an idea of what is to come.</p>

         </div>
      </div> <!--/.container--> 
      <div class="promo-box-bg">
         <div class="promo-box-container">
            {% include promo-get-involved.html %}
            {% include promo-event-planner.html %}
            {% include promo-programme.html %}
         </div> <!--/.promo-box-container--> 
      </div> <!--/.promo-box-bg-->
       
      {% include footer.html %}
      {% include js.html %}
   </body>
</html>