---
title:
layout: default
id: home
published: true
promos:
- get-involved.html
- event-planner.html
- programme.html
extra-css:
- css/vendor/owl.carousel.min.css
final-includes:
- load-carousel.html
---

<div class="home-slider-container">
    <div class="owl-carousel">
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>4-7th May 2017</div><img data-interchange="[images/homepage-slides/sm/1.jpg, small], [images/homepage-slides/md/1.jpg, medium], [images/homepage-slides/lg/1.jpg, large]"> </div>
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>4-7th May 2017</div><img data-interchange="[images/homepage-slides/sm/2.jpg, small], [images/homepage-slides/md/2.jpg, medium], [images/homepage-slides/lg/2.jpg, large]"> </div>
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>4-7th May 2017</div><img data-interchange="[images/homepage-slides/sm/3.jpg, small], [images/homepage-slides/md/3.jpg, medium], [images/homepage-slides/lg/3.jpg, large]"> </div>
    </div>
</div>
        <div class="container">
    <div class="intro-text">
        <p>A festival celebrating Manchester finest buildings, secret spaces and history.</p>
        <p>The event includes guided tours around exciting new buildings as well as some of our world class historical architecture.  Walking tours showcase Manchester’s history and uncover future developments.</p>
    </div>
        </div> <!--/.container-->

<div class="container featured-tours" data-equalizer data-equalize-on="small">
    <div class="heading">
        <h2>Featured Tours</h2>
    </div>
    {% include module-tours.html %}
        </div> <!--/.container-->
        <div class="container">
    <div class="see-all">
        <h3>Curious for more?</h3>
        <a href="buildings-and-tours.html" class="button button-expanded tracking" data-evt-cat="standard-link" data-evt-action="buildings-and-tours" data-evt-value="{{page.id}}">See All Tours</a>
    </div>
</div>
{% comment %}
<div class="container" data-equalizer data-equalize-on="small">
    <div class="heading">
        <h2>Latest News</h2>
    </div>
    {% include module-news.html %}
    {% include module-news.html %}
        </div> <!--/.container-->
{% endcomment %}
<script type="application/javascript">
    getAllTours().then(function(tours) {
        var frontPageTours = _.filter(tours, {featured_tour: "1"});
        var template = Handlebars.compile(document.getElementById('module-tour-template').innerHTML)
        document.getElementById('module-tour-placeholder').innerHTML = template({'tours': frontPageTours});
    });
</script>
