---
title:
layout: default
id: home
promos:
- get-involved.html
- event-planner.html
- programme.html
extra-css:
- css/vendor/owl.carousel.min.css
final-includes:
- load-carousel.html
---

<div class="home-slider-container">
    <div class="owl-carousel">
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>6-9th Oct 2016</div><img data-interchange="[images/homepage-slides/sm/1.jpg, small], [images/homepage-slides/md/1.jpg, medium], [images/homepage-slides/lg/1.jpg, large]"> </div>
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>6-9th Oct 2016</div><img data-interchange="[images/homepage-slides/sm/2.jpg, small], [images/homepage-slides/md/2.jpg, medium], [images/homepage-slides/lg/2.jpg, large]"> </div>
        <div class="image-container"><div class="text">A celebration<br> of Manchester's secret spaces<br>6-9th Oct 2016</div><img data-interchange="[images/homepage-slides/sm/3.jpg, small], [images/homepage-slides/md/3.jpg, medium], [images/homepage-slides/lg/3.jpg, large]"> </div>
    </div>
</div>
        <div class="container">
    <div class="intro-text">
        <p>Manchester's open house festival that shows off the secret spaces of Manchester in October. This year expect even more tours around exciting new buildings in Manchester as well as some of our World class historical architecture.</p>
        <p>Thursday 6th October to Sunday 9th October 2016</p>
    </div>
        </div> <!--/.container-->

<div class="container featured-tours" data-equalizer data-equalize-on="small">
    <div class="heading">
        <h2>Featured Tours</h2>
    </div>
    {% include module-tours.html %}
        </div> <!--/.container-->
        <div class="container">
    <div class="see-all">
        <h3>Curious for more?</h3>
        <a href="buildings-and-tours.html" class="button button-expanded tracking" data-evt-cat="standard-link" data-evt-action="buildings-and-tours" data-evt-value="{{page.id}}">See All Tours</a>
    </div>
</div>
{% comment %}
<div class="container" data-equalizer data-equalize-on="small">
    <div class="heading">
        <h2>Latest News</h2>
    </div>
    {% include module-news.html %}
    {% include module-news.html %}
        </div> <!--/.container-->
{% endcomment %}
<script type="application/javascript">
    getAllTours().then(function(tours) {
        var frontPageTours = _.filter(tours, {featured_tour: "1"});
        var template = Handlebars.compile(document.getElementById('module-tour-template').innerHTML)
        document.getElementById('module-tour-placeholder').innerHTML = template({'tours': frontPageTours});
    });
</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Manchester Curious",
  "url" : "http://www.manchestercurious.com",
  "logo": "http://www.manchestercurious.com/images/logo@2x.gif",
  "sameAs" : [
    "https://twitter.com/mcrcurious2016",
    "https://www.facebook.com/manchestercurious",
    "https://www.instagram.com/mcrcurious/"
  ]
}
</script>
