---
---
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Map</title>
      <link rel="stylesheet" href="css/app.css">
   </head>
   <body>
      {% include header.html %}
      <div class="heading-banner heading-banner-map">
         <div class="content">
            <h1>Map</h1>
         </div>
      </div>        
      <div class="container">
         <div class="leftcol">leftcol</div>
         <div class="rightcol">rightcol</div>
      </div> <!--/.container--> 
      <div class="promo-box-bg">
         <div class="promo-box-container">
            {% include promo-get-involved.html %}
            {% include promo-event-planner.html %}
            {% include promo-programme.html %}
         </div> <!--/.promo-box-container--> 
      </div> <!--/.promo-box-bg-->
       
      {% include footer.html %}
      {% include js.html %}
   </body>
</html>