---
title: Category Name
layout: default
id: news-category
published: false
promos:
- get-involved.html
- event-planner.html
- buildings-and-tours.html
banner-style: news
---
{% include page-heading.html %}
        <div class="container">
          <div class="heading">
              <h2>Category Name</h2>
          </div>
         <div class="news-container" data-equalizer data-equalize-on="small">
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
         </div>
        </div> <!--/.container-->