---
title: News
layout: default
id: news
published: false
promos:
   - buildings-and-tours.html
   - event-planner.html
   - programme.html
---
{% include page-heading.html %}
        <div class="container">
         <div class="news-container" data-equalizer data-equalize-on="small">
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
            {% include module-news.html %}
         </div>
        </div> <!--/.container-->