---
title: Partners
layout: default
id: partners
published: true
promos:
   - get-involved.html
   - buildings-and-tours.html
   - programme.html
---
{% include page-heading.html %}
        <div class="container">
            <div class="partners-container">
                {% include partner.html imageUrl="4ndstreet_logo.png" link="http://42ndstreet.org.uk/" tracking="42nd_street" name="42nd Street" text="We are proud to have 42nd Street as our charity partners in 2016. Since 1980 42nd Street has been supporting young people experiencing difficulties with their mental health and wellbeing. 42nd Street work with young people 11 – 25 living in Greater Manchester. Their diverse services include individual therapeutic support, advocacy, projects and activities, and a creative programme via The Horsfall, a new arts space." %}
                {% include partner.html imageUrl="msa.png" link="http://www.the-msa.co.uk/" tracking="msa" name="Manchester Architects" text="Manchester Architects is a community of architectural professionals established 150 years ago and now a branch of the RIBA, representing and supporting the architects and architectural students of Manchester. Manchester Curious is established in association with Manchester Architects."%}
                {% include partner.html imageUrl="autotrader.jpg" link="http://www.autotrader.co.uk/" tracking="autotrader" name="AutoTrader" text="Auto Trader is a responsible employer and is keen to give back to the local communities in which it operates and is committed to supporting charities and causes that are close to its employee’s hearts. Manchester Curious is an exciting initiative that allows Auto Trader to support a wider community in Manchester."%}
            </div> <!--/.partners-container-->
        </div> <!--/.container-->