         <div class="footer-partners-bg">
            <div class="footer-partners-outer">
               <div class="footer-partners-inner">
                  <div class="heading">
                     <h2>Our Partners</h2>   
                  </div>
                  <div class="logos-container">
                     <ul class="logos">
                        <li><img src="http://placehold.it/125x60" alt="Logo"></li>
                        <li><img src="http://placehold.it/125x80" alt="Logo"></li>
                        <li><img src="http://placehold.it/125x95" alt="Logo"></li>
                        <li><img src="http://placehold.it/125x40" alt="Logo"></li>
                     </ul>
                  </div>                  
               </div> <!--/.footer-partners-inner-->
            </div> <!--/.footer-partners-outer--> 
         </div> <!--/.footer-partners-bg--> 

         
         <footer>
            <div class="footer-outer">
               <div class="footer-inner">
                  <div class="left-col">
                     <h5>Navigate</h5>
                        <ul class="menu-footer">
                           {% include nav-links.html %}
                       </ul>
                  </div>
                  <div class="mid-col">
                     <h5>Stay in The Loop</h5>
                     MAILCHIMP CODE GOES HERE
                     <ul class="social-media">
                        <li class="tw"><a href="https://twitter.com/mcrcurious2016" target="_blank">Twitter</a></li>
                        <li class="fb"><a href="https://www.facebook.com/manchestercurious" target="_blank">Facebook</a></li>
                        <li class="is"><a href="https://www.instagram.com/mcrcurious/" target="_blank">Instagram</a></li>
                     </ul>
                  </div>
                  <div class="right-col">
                     <h5>Download Map</h5>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ab eaque, illum tempora mollitia magni omnis. Praesentium</p>
                     <a href="#" class="button-expanded">Get E-Map</a>
                  </div>                  
               </div>
            </div>
         </footer>

      </div> <!--/.off-canvas-content-->
   </div> <!--/.off-canvas-wrapper-->
</div> <!--/.off-canvas-wrapper-inner-->