         <div class="footer-partners-bg">
            <div class="footer-partners-outer">
               <div class="footer-partners-inner">
                  <div class="heading">
                     <h2>Our Partners</h2>   
                  </div>
                  <div class="logos-container">
                     <ul class="logos">
                        <li><a href="http://42ndstreet.org.uk/" class="tracking" data-evt-cat="partner-link" data-evt-action="42nd_street" data-evt-value="footer-{{page.id}}"><img src="images/partners/4ndstreet_logo.png" alt="Logo"></a></li>
                        <li><a href="http://www.the-msa.co.uk/" class="tracking" data-evt-cat="partner-link" data-evt-action="msa" data-evt-value="footer-{{page.id}}"><img src="images/partners/msa.png" alt="Logo"></a></li>
                        <li><a href="http://www.autotrader.co.uk/" class="tracking" data-evt-cat="partner-link" data-evt-action="autotrader" data-evt-value="footer-{{page.id}}"><img src="images/partners/autotrader.jpg" alt="Logo"></a></li>
                     </ul>
                  </div>                  
               </div> <!--/.footer-partners-inner-->
            </div> <!--/.footer-partners-outer--> 
         </div> <!--/.footer-partners-bg--> 

         
         <footer>
            <div class="footer-outer">
               <div class="footer-inner">
                  <div class="left-col">
                     <h5>Navigate</h5>
                        <ul class="menu-footer">
                           {% include nav-links.html location="footer" %}
                           <li><a href="privacy.html" class="tracking" data-evt-cat="{{include.location}}-menu-link" data-evt-action="privacy" data-event-value="{{page.id}}">Privacy</a></li>
                       </ul>
                  </div>
                  <div class="mid-col">
                     <h5>Stay in The Loop</h5>

                     <!-- Begin MailChimp Signup Form -->
			            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            			<div id="mc_embed_signup">
               			<form action="//manchestercurious.us11.list-manage.com/subscribe/post?u=d8fb12d5d66923a46964036e9&amp;id=47febe0062" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
               			    <div id="mc_embed_signup_scroll">
                           <!--<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
               				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
               			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d8fb12d5d66923a46964036e9_47febe0062" tabindex="-1" value=""></div>
               			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
               			    </div>
               			</form>
            			</div>
			            <!--End mc_embed_signup-->

                     <ul class="social-media">
                        <li class="tw"><a href="https://twitter.com/mcrcurious2016" target="_blank" class="tracking" data-evt-cat="social-link" data-evt-action="twitter" data-evt-value="footer-{{page.id}}">Twitter</a></li>
                        <li class="fb"><a href="https://www.facebook.com/manchestercurious" target="_blank" class="tracking" data-evt-cat="social-link" data-evt-action="facebook" data-evt-value="footer-{{page.id}}">Facebook</a></li>
                        <li class="is"><a href="https://www.instagram.com/mcrcurious/" target="_blank" class="tracking" data-evt-cat="social-link" data-evt-action="instagram" data-evt-value="footer-{{page.id}}">Instagram</a></li>
                     </ul>
                  </div>
                  <div class="right-col">
                     <h5>Download Map</h5>
                     <p>We will be providing a downloadable map before the event to help you find your way around all of the buildings.</p>
                     {% comment %}<a href="#" class="button-expanded">Get E-Map</a>{% endcomment %}
                  </div>
                
               </div><!--/.footer-inner-->
            </div><!--/.footer-outer-->
         </footer> 
      </div> <!--/.off-canvas-content-->
   </div> <!--/.off-canvas-wrapper-->
</div> <!--/.off-canvas-wrapper-inner-->
