<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="mobile-menu" data-off-canvas>
            <ul class="menu-off-canvas">
{% include nav-links.html %}
            </ul>
        </div><!--/.off-canvas position-left-->
        <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar">
            <div class="title-bar-left">
               <button class="menu-icon" type="button" data-open="mobile-menu"></button>
                <span class="title-bar-title"><a href="{{ site.github.url }}/">Manchester Curious</a></span>
            </div>
        </div>
        <div class="header-bg">
            <header>
                <div class="logo">
                    <a href="{{ site.github.url }}/" alt="Logo" title="Manchester Curious">Manchester Curious</a>
                </div>
                <nav>
                    <ul class="main-nav">
{% include nav-links.html location="header" %}
                    </ul>
                </nav>
            </header>
        </div>