<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/app.css">
    {% for css in page.extra-css %}<link rel="stylesheet" href="{{ css }}">{% endfor %}
    {% for js in page.extra-js %}<script src="{{ js }}"></script>{% endfor %}
	{% include js.html %}
    <!-- Git hash: {{ site.github.build_revision }} -->
</head>