<div class="module-outer">
    <div class="module-inner" data-equalizer-watch>
        <div class="image">
            <a href="tour-details.html">
                <img src="http://placehold.it/380x220" alt="">
            </a>  
        </div>
        <div class="content">
            <div class="label">Nearly Sold Out</div>
            <ul>
                <li>Building Name</li>
                <li><a href="tour-details.html">Manchester Modernists' Walking Tour: Building For The New Century: Bombs, Booms And Busts</a></li>
                <li><small>Walking Tour</small></li>
            </ul>     
        </div>
    </div>
</div>