                <li><a href="./" class="tracking" data-evt-cat="{{include.location}}-menu-link" data-evt-action="home" data-event-value="{{page.id}}">Home</a></li>
                {% assign nav-link-location = include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="programme" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="buildings-and-tours" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="map" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="event-planner" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="about" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="get-involved" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="news" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="partners" location=include.location %}
                {% include if-page-published.html this-include="nav-link.html" page-id="contact" location=include.location %}
                {% assign nav-link-classes = "privacy" %}
                {% include if-page-published.html this-include="nav-link.html" page-id="privacy" location=include.location classes="privacy" %}
                {% assign nav-link-classes = "" %}
