                <li><a href="./">Home</a></li>
                <li><a href="programme.html">Programme</a></li>
                <li><a href="buildings-and-tours.html">Buildings &amp; Tours</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="event-planner.html">Event Planner</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="get-involved.html">Get Involved</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="partners.html">Partners</a></li>
                <li><a href="contact.html">Contact</a></li>