.off-canvas-content {
	background-color: $light-beige;
}
.js-off-canvas-exit {
	z-index: 10000;
}
.off-canvas-wrapper,
.off-canvas {
	background-color: $dark-gray;
}
.container {
	@include grid-row;
	margin-bottom:rem-calc(40);
}

img {
	width: 100%;
}

.table-container {
	@include grid-col();	
}

table {
	@include breakpoint(small down) {
		@include table-stack;
	}
	thead tr th {
		text-align: left;
		padding: $table-padding;
		font-family: $header-font-family;
		@include letter-transform;
		color: $dark-gray;
	}
	tbody tr {
		border-bottom:1px solid smart-scale($table-background, 10%);
	}
	tbody tr td {
		padding-top: rem-calc(30);
		padding-top: rem-calc(15);
		padding: $table-padding;		
	}
}

.leftcol {
	@include grid-col();
	display: none;
	margin-bottom: rem-calc(35);

	@include breakpoint(medium) {
		@include grid-col(4);
		display: block;			
	}
}

.rightcol {
	@include grid-col();
	
	@include breakpoint(medium) {
		@include grid-col(8);				
	}
	@include breakpoint(large) {
		@include grid-col(7);
		@include grid-column-offset(1);				
	}	
}





