.heading-banner-buildings-and-tours {
	@include heading-banner(2);
}
.tour-type-container {
	display: none;
	@include breakpoint (medium) {
		display: block;
	}
	text-align: center;
	ul {
		@include menu-base;
		@include menu-simple;
		margin-bottom: rem-calc(45);
		li {
			font-family: $header-font-family;
			@include letter-transform;
			color: $dark-gray;
			margin: 0 rem-calc(10);
		}
	}
}
.tour-type {
	height: rem-calc(40);
	width: rem-calc(40);
	background-repeat: none;
	background-size:  rem-calc(40)  rem-calc(40);
	margin-left: auto;
	margin-right: auto;
}
table.tours {
	tr td {
		.tour-type {
			display: none;

			@include breakpoint(medium) {
				display: block
			}
		}
		.tour-mobile {
			@include breakpoint(medium) {
				display: none
			}			
		}
	}
}
.walkingtour {
	background-image: url('../images/icon-tour-walking.png');
}
.buildingtour {
	background-image: url('../images/icon-tour-building.png');
}

figure.tour-map {
  position: relative;
}
figure.tour-map .attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,.5);
  font: 12px/20px 'Helvetica Neue',Arial,Helvetica,sans-serif;
}
figure.tour-map .attribution, figure.tour-map .attribution a {
  color: rgba(0,0,0,.75);
}
