.heading-banner-buildings-and-tours {
	@include heading-banner(2);
}
.tour-type-container {
	display: none;
	@include breakpoint (medium) {
		display: block;
	}
	text-align: center;
	ul {
		@include menu-base;
		@include menu-simple;
		margin-bottom: rem-calc(45);
		li {
			font-family: $header-font-family;
			@include letter-transform;
			color: $dark-gray;
			margin: 0 rem-calc(10);
		}
	}
}
.tour-type {
	height: rem-calc(40);
	width: rem-calc(40);
	background-repeat: none;
	background-size:  rem-calc(40)  rem-calc(40);
	margin-left: auto;
	margin-right: auto;
}
table.tours {
	tr td {
		.tour-type {
			display: none;

			@include breakpoint(medium) {
				display: block
			}
		}
		.tour-mobile {
			@include breakpoint(medium) {
				display: none
			}			
		}
	}
}
.walking {
	background-image: url('../images/icon-tour-walking.png');
}
.building {
	background-image: url('../images/icon-tour-building.png');
}
