.heading-banner-contact {
	@include heading-banner(9);
}
.input {
	@include grid-col();
}
input.button {
	@include button;
	float: left;
	@include breakpoint(small only) {
		width: 100%;
	}
}
textarea {
	height: rem-calc(80);
}
label {
	font-family: $secondary-body-font-family;
	@include letter-transform;
}
