.intro-text {
	@include grid-col();
	text-align: center;

	@include breakpoint(medium) {
		@include grid-col(10);
		@include grid-column-offset(1);	
	}
}
.home-slider-container {
	@include row-expanded;
}
.featured-tours {
	margin-bottom: 0
}
.see-all {
	@include grid-col(4);
	@include grid-column-position(center);
	margin-top: rem-calc(25);
	h3 {
		text-transform: none;
		text-align: center;
		font-style: italic;
		font-weight: normal;
		font-family: $secondary-body-font-family;
		font-size: rem-calc(20);
	}	
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
