.heading-banner-partners {
	@include heading-banner(8);
}
.partners-container {
	@include grid-col();
 	margin-bottom: rem-calc(40);

	.partners-logo {
		margin-bottom: rem-calc(40);
		@include breakpoint(medium) {
			@include grid-col(3);
		}
	}
	.partners-text {
		@include breakpoint(medium) {
			@include grid-col(9);
		}
		a {
 			color:$dark-gray;
 		}
	}
}
