.heading-banner-programme {
	@include heading-banner(1);
}
.table-container {
	@include grid-col();
	margin-bottom: rem-calc(40);

	table.programme tr {


		td.venue,
		td.book {
			@include show-for(medium);
		}
		
		td a.title {
			color: $medium-gray;
		}
		span {
			@include breakpoint(small only) {
				font-family: $header-font-family;
				color: $dark-gray;
			}
		}
		span.date {
			float: right!important;

			@include breakpoint(medium) {
				display: none;
			}		
		}
		span.more {
			@include breakpoint(small) {
				display: none;
			}			
		}
	}

}

