.full-width-header {
	@include row-expanded;
	background-color: $medium-gray;
		padding-top: rem-calc(20);

	@include breakpoint(large) {
		padding-top: rem-calc(50);
		padding-bottom: rem-calc(50);
	}

	.text-container,
	.slider-container {
		@include grid-col();

		@include breakpoint(large) {
			@include grid-col(6);	
		}
	}
	.text-container {
		@include breakpoint(large) {
			@include grid-col-pos(-6);	
		}
		h1 {
			@include breakpoint(large) {
				font-size: rem-calc(30);	
			}			
		}
	}
	.slider-container {
		margin-bottom:rem-calc(20);

		@include breakpoint(large) {
			@include grid-col-pos(6);
			margin-bottom:0;	
		}

	}	
	.info-container {
		@include grid-row();
		color: $white;
		h1,
		p.venue {
			@include letter-transform;			
		}
		h1 {
			// font-size: rem-calc(26);
			color: $white;
		}
		h1:after {
			margin-top: rem-calc(5);
			margin-bottom:  rem-calc(25);
			height: rem-calc(3);
			background-color: $primary-color;
			content: '';
			display: block;
			width: rem-calc(42);
		}
		p {
			font-family: $secondary-body-font-family;
			font-weight: 300;			
		}
		p.venue {
			font-family: $header-font-family;
		}
	}
}
.full-width-body {
	@include row-expanded;
	padding-top: rem-calc(50);
	padding-bottom: rem-calc(50);
	@include breakpoint(large) {
		background: url('../images/bg-tour-detail.gif') top center;	
	}	
}
.booking-container,
.more-info-container {
	@include grid-col();

	@include breakpoint(large) {
		@include grid-col(6);
	}	
}
.booking-container,
.text-container  {
	@include breakpoint(large) {
		padding-right:rem-calc(40)!important;
	}
}
.slider-container,
.more-info-container {
	@include breakpoint(large) {
		padding-left:rem-calc(40)!important;
	}	
}
.booking-container {
	margin-bottom: rem-calc(20);
	table {
		margin-bottom: rem-calc(40);

		tr td span {
			font-family: $header-font-family;
			color: $dark-gray;
			
			@include breakpoint(medium) {
				display: none;

			}	
		}
	}
	.tour-summary-container {
		@include grid-row();
		margin-bottom: rem-calc(40);		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		.tour-summary {
			@include grid-col;
			padding-left: 0!important;

			@include breakpoint(medium) {
				@include grid-col(9);
			}
			ul li:last-child {
				@include breakpoint(medium) {
					display: none;
				}				
			}
			ul li strong {
				font-family: $header-font-family;
				color: $dark-gray;
			}		
		}
		.type {
			display: none;

			@include breakpoint(medium) {
				@include grid-col(3);
				display: block;
			}
			ul li {
				text-align: center;
				font-family: $header-font-family;
				@include letter-transform;
				color: $dark-gray;
				margin-bottom: rem-calc(6);
				font-size: rem-calc(12);				
			}				
		}		
	}
}

body#tour-detail {
	.container {
		margin-bottom: 0;
	}
}
.map {
	margin-bottom: rem-calc(40);
}