.header-bg {
	background-color: $white;
}
.title-bar {
	@include breakpoint(large up) {
		display: none;
	}
}
.menu-off-canvas {
	@include menu-base;
	@include menu-direction(vertical);
	font-family: $header-font-family;
}

header {
	@include grid-row;
	
	@include breakpoint(medium down) {
		display: none;
	}

	.logo {
		a {
			text-indent: -3333px;
		}
	}
	@include breakpoint(large up) {
    	.logo {
			width: 176px;
			height: 80px;
			background: url(../images/logo@2x.gif) no-repeat;
			background-size: 170px 80px;
			margin: 35px auto 35px auto;
			a {
				width: 176px;
				height: 80px;
				display: block;
			}
  		}
  	}

	nav {
		@include grid-col;
		text-align: center;

			.main-nav  {
				@include menu-simple;
				text-transform: uppercase;
				font-family: $header-font-family;

				a {
					color: $dark-gray;
				}
			}

			@include breakpoint(large only) {
				.main-nav  {
					font-size: rem-calc(13);
					text-transform: uppercase;
				}
			}
			@include breakpoint(xlarge up) {
				.main-nav  {
					font-size: rem-calc(15);
					text-transform: uppercase;
				}
			}
	}
	
}



