.module-outer {
	@include grid-col(6);
	@include grid-column-end;

	@include breakpoint(large) {
		@include grid-col(3);
		@include grid-column-end;		
	}	

    .module-inner {
		background-color: $white;
		text-align: center;
		margin-bottom: rem-calc(25);

		.content {
			padding: rem-calc(12 12 0 12);
			position: relative;

			.label {
				position: absolute;
				left: 50%;
    			transform: translateX(-50%);
    			top: rem-calc(-10);
    			font-family: $secondary-body-font-family;
				@include letter-transform();
				font-size: rem-calc(10);
				background: $primary-color;
				padding: rem-calc(5);
			}
		}

		ul {
		    margin-left: 0;
		    list-style: none;
		    padding: rem-calc(5 0);

			li:first-child {
				font-family: $secondary-body-font-family;
				@include letter-transform();
				margin-bottom: rem-calc(12);
				font-size: 80%;
				line-height: rem-calc(16);
			}
			li:nth-child(2) {
				font-family: $body-font-family;
				margin-bottom: rem-calc(5);
				font-size: rem-calc(14);
			}
			li:last-child {
				margin: rem-calc(15px 0 5px 0);
			}
			li a {
				color: $medium-gray; 
			}
		}
    }
}