body {
	color: $medium-gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-gray;
	@include letter-transform();
	font-family: $header-font-family;
}
.heading {
	@include grid-col();
	margin-bottom: rem-calc(12);
	
	h2{
		text-align: center;
	}
}

h2:after {
	margin-left: auto;
	margin-right: auto;
	margin-top: rem-calc(5);
	margin-bottom: 0;
	height: rem-calc(3);
	background-color: $primary-color;
	content: '';
	display: block;
	width: rem-calc(42);
}


