$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Domine', serif;
$footer-font-family:'Open Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $dark-gray;
	text-transform: uppercase;
	letter-spacing: rem-calc(1px);
	font-family: $header-font-family;
}

h2:after {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 0px;
	height: 3px;
	background-color: $primary-color;
	content: '';
	display: block;
	width: 42px;
}


