$header-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Domine', serif;
$secondary-body-font-family:'Open Sans', sans-serif;


$primary-color: #f8981d;
$medium-gray: #666666;
$dark-gray: #272727;
$light-beige: #f7f7f7;
$dark-beige: #f0f0f0;



